@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* font-family: 'Roboto', sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--fontr);
    color: var(--fontc);
}

:root{
    --fontr:'Roboto', sans-serif;
    --bgcrim: crimson;
    --bgg:rgba(1, 14, 29, 0.945);
    --fontc:white;
    --bgp: rgba(0, 85, 165, 0.822);
    --bgf: rgba(17, 38, 46, 0.952);
}
li,a{
    text-decoration: none;
    list-style: none;
}
/* navbar */
nav{
    width: 100%;
    padding: 2.5rem 2rem;
    background-color: var(--bgcrim);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
nav ul{
    display: flex;
    justify-content: space-between;
}
nav ul li{
    padding: 0 1rem;
}

nav ul li a{
    font-size: 1.2rem;
    letter-spacing: 1.2px;
    font-weight: 550;
}

/* welcome section */

#welcome-section{
    width: 100%;
    height: 100vh;
    background-color: var(--bgg);
    padding: 0 2rem;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

#welcome-section h1{
    font-size: 5rem;
}
#welcome-section p{
    font-size: 1.5rem;
    font-style: italic;
}
/* project */

#projects{
    padding: 8rem 4rem;
    background-color: var(--bgp);
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.pjcontainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap:3rem;
}
.project-tile{
    height: 400px;
    width: 100%;
    border-radius:0.3rem;
    background-color: rgba(29, 27, 23, 0.89);
}
.project-tile img{
    width: 100%;
    height: calc(100% - 4rem);
    object-fit: cover;
}
.project-tile p{
text-align: center;
padding: 1rem 0;
font-size: 1.3rem;
}

.project-tile p span{
    padding: 0 0.5rem;
    color: crimson;
    opacity: 0;
    transition: 0.5s;
}
.project-tile:hover span{
    opacity: 1;
}

/* footer */

footer{
    background-color: var(--bgg);
    padding: 15rem 2rem;
    
}

footer h1{
    text-align: center;
    font-size: 4.5rem;

}
.contact-container{
    margin-top:3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    
}
.item{
    padding: 0 2rem;
    display: flex;
}
.item i{
    padding-right:0.5rem ;
}
.comment{
    padding: 2rem;
    background-color: var(--bgg);
    border-top: 3px solid var(--bgcrim);
    
}
.comment p{
    text-align: center;
    font-size: 1.5rem;
    color:crimson;
}


/* media query */

@media (max-width:850px){
    .project-tile p span{
        opacity: 1;
        font-weight: 700;
    }
}

@media (max-width:600px){
    #welcome-section h1{
        font-size: 3rem;
    }
    #welcome-section p{
        font-size: 1rem;
    }
    #projects{
        padding: 8rem 2rem;
    }
    .pjcontainer{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    #contact{
        padding: 8rem 2rem;
    }
    #contact h1{
        font-size: 2rem;
    }
    .contact-container{
        flex-direction: column;
        font-size: 1.3rem;
    }
    .item{
        padding: 2rem;
    }
    .comment p{
        font-size: 1.2rem;
    }

}

@media (max-width:400px){
    .project-tile{
        height: 300px;
    }
}